<div class="movie">
  <a href="/readMovie/{{this.id}}"><img src="{{this.image}}" class="aligncenter"></a>
  <h2 class="movie-title">{{this.title}}</h2>
  <a href="/readMovie/{{this.id}}">See more</a>
</div>