<header class="site-header">
  <div class="wrap">
    <h1>Ironhack Cinema</h1>
    <nav>
      <ul class="main-navigation">
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/movies">Overview</a></li>
        <li class="menu-item"><a href="/addMovie">Add Movie</a></li>
      </ul>
    </nav>
  </div>
</header>